@import 'pub.reset.css';
@import 'pub.base.css';
@import 'pub.font.css';
#Page{
	width: 100%;
	min-height: 100vh;
	position: relative;
	background-color:rgba(244,245,247,1);
}
.wrap{
	width:1200px;
}


#foot{
	width: 100%;
	/*height: 100%;*/
	overflow: hidden;
	background: #51327F;
	margin-top: 40px;
}
.foot_mid{
	height: 40px;
	line-height:40px;
	border-bottom: 1px solid #fff;
	margin:0 auto;
}
.foot_ul{
	width: 800px;
	height: 40px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	color: #fff;
	font-size: 14px;
}
.foot_ul li{
	cursor: pointer;
}
.foot_name{
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	font-size: 14px;
}
#header{
	width: 100%;
	height: 180px;
}
.head_top{
	width: 100%;
	height: 120px;
	background: url(../../images/header_bg.png) no-repeat;
	background-size:100% 100%;
}
.head_mid{
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.head_top_left img{
	display: block;
	height: 100px;
	width: auto;
	margin-top: 10px;
}
.head_top_right img{
	display: block;
	height: 80px;
	width: auto;
	margin-top: 20px;
}
.nav{
	width: 100%;
	height: 60px;
	background: #51327F;
}
.nav_mid{
	margin:0 auto;
	display: flex;
	justify-content: space-between;
}
.nav_ul{
	width: 70%;
	display: flex;
	justify-content:space-between;
	color: #fff;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
}
.nav_ul li{
	cursor: pointer;
}
.search{
	width: 20%;
	height: 40px;
	border:1px solid rgba(255,255,255,0.7);
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	margin-top: 9px;	
}
.search input{
	display: block;
	border: none;
	background:rgba(255,255,255,0.3);
	width: 100%;
	height: 100%;
	text-indent: 5%;
}
.search_btn{
	position: absolute;
	right: 0;
	top: 0;
	height: 40px;
	background: #fff;
	border-radius: 5px;
	width: 60px;
	text-indent: 5%;
}
.search_btn img{
	display: block;
	width: 20px;
	height: 20px;
	margin: 10px auto;
}
.search input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
.search input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
}
.search input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
}
.search input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}
.active{
	border-bottom: 2px solid #fff;
}
