@media (max-width:768px) {
    #dowebok{
        display:none;
    }
    #mobile{
        display:block;
    }
    .header .header-c .more{
        display:block;
        position: absolute;
        top: 18.5px;
        right:30px;
        width: 20px;
        height: 20px;
        /* background-color: red; */
    }
    .header-c .nav .nav-item .ball{
        display:none;
    }
    .header .header-c .nav{
        display: none;
        top: 57px;
        left:0;
        width: 100%;
        height: 290px;
        background-color: rgba(0,0,0,1);
    }
    .header-c .nav .nav-item{
        float:none;
        height:57px;
        width: 100%;
        text-align:center;
        line-height:57px;
        margin-left: 0;
        border-bottom:1px solid #969696;
    }
    .header .header-c .nav .search{
        display:none;
    }
    /* banner */
    .banner .swiper-container{
        position:relative;
        width: 100%;
        color:white;
    }
    .banner .swiper-container h1{
        font-size: 24px;
    }
    .banner .swiper-container p{
        font-size: 4px;
    }
    .banner .swiper-container .banner-title.one{
        position:absolute;
        top: 40px;
        left: 90px;
    }
    .banner .swiper-container .banner-title.one p{
        display:none;
    }
    .banner .swiper-container .banner-title.two{
        position:absolute;
        top: 75px;
        left: 220px;
    }
    .banner .swiper-container .banner-title.two p{
        position:absolute;
        top: 25px;
        left: 0px;
        width:100px;
    }
    .banner .swiper-container .banner-title.three{
        position:absolute;
        top: 50px;
        left: 30px;
    }
    .banner .swiper-container .banner-title.three p{
        position:absolute;
        top:25px;
        left: 0px;
        width:900px;
    }
    .container-film{
        width: 100%;
        height:900px;

    }
    .container-film .projects{
        width: 100%;
        text-align: center;
        height:800px;

        /* overflow: hidden; */
    }
    .container-film .projects>li{
        float:none;
        position: relative;
        width: 322px;
        height: 180px;
        margin:0 auto;
        margin-bottom:20px;
    }
    .container-film .projects>li:first-child{
        height: 100px;
    }
    .container-film .projects>li.active{
        border:none;
    }
    .container-film .projects .en-title{
        position:relative;
        top: 0px;
        left: 0px;
        font-size: 24px;
        transform: rotate(0);
        /* 基于某点旋转 */
        transform-origin:0 100%;
        margin-bottom:20px;
    }
    .container-film .projects .cn-title{
        display:block;
        position:relative;
        top: 0px;
        left: 0px;
        width: 100px;
        font-size: 16px;
        margin:0 auto;
        margin-bottom:10px;
    }
    .container-film .projects .film-nav{
        position:relative;
        top: 0px;
        left: 0px;
        width: 200px;
        height: 70px;
        margin:0 auto;
    }
    /* 每日推荐 */
    .container-rec{
        height:1300px;
    }
    .container-rec .recommend{
        display:block;
        text-align:center;
        height: 1300px;
        width:100%;
        margin-top:30px;
    }
    .container-rec .recommend .rec-img{
        float:none;
        position: relative;
        width: 322px;
        height: 180px;
        margin:0 auto;
        margin-bottom:20px;
        padding-top:0px;
    }
    .container-rec .recommend .rec-title{
        width: 100%;
        height:30px;
        position:relative;
        background-color: #000;
        margin-bottom:40px;
    }
    .container-rec .recommend .rec-title .en-title{
        position:relative;
        top: 0px;
        left: 0px;
        font-size: 24px;
        transform: rotate(0);
        /* 基于某点旋转 */
        transform-origin:0 100%;
        margin-bottom:20px;
    }
    .container-rec .recommend .rec-title .cn-title{
        display:block;
        position:relative;
        top: 0px;
        left: 0px;
        width: 100px;
        font-size: 16px;
        margin:0 auto;
        margin-bottom:10px;
    }
    .container-rec .recommend>li img{
        height:100%;
        width:100%;
    }
    /* about-us */
    .container-abo{
        height:800px;
    }
    .container-abo .about-us{
        width:100%;
        height:800px;
    }
    .container-abo .about-us>li{
        float:none;
        width:322px;
        margin:0 auto;
    }
    .container-abo .about-us .abo-title{
        height:50px;
        width:322px;
        margin-bottom:30px;
        text-align:center;
    }
    .container-abo .about-us .en-title{
        position:relative;
        top: 0px;
        left: 0px;
        font-size: 24px;
        transform: rotate(0);
        /* 基于某点旋转 */
        transform-origin:0 100%;
        margin-bottom:20px;
        margin:0 auto;
    }
    .container-abo .about-us .cn-title{
        display:block;
        position:relative;
        top: 0px;
        left: 0px;
        width: 100px;
        font-size: 16px;
        margin:0 auto;
        margin-bottom:10px;
    }
    .container-abo .about-us .abo-des{
        width:322px;
        height:700px;
        margin:0 auto;
        float:none;
    }
    .container-abo .abo-des .text-des{
        width:100%;
        height:270px;
        text-align:center;
    }
    .container-abo .abo-des .text-des .des-title{
        margin:0 auto;
    }
    .container-abo .abo-des .woman-des{
        float:none;
    }
    .container-abo .abo-des .woman-des img{
        width:100%;
    }
    .container-abo .abo-des .woman-des .woman-des-inner{
        width:100%;
        height:100px;
        position:relative;
        text-align:center;
        left:0;
    }
    .container-abo .abo-des .woman-des .woman-des-inner .des-cn{
        margin:0;
        padding-top:20px;
    }
    /* footer */
    .footer{
        background:black;
    }
    .footer .footer-ul{
        width:322px;
        margin:0 auto;
        height:800px;
    }
    #mobile .footer .footer-ul>li{
        float:none;
        width:100%;

    }
    .footer .footer-title{
        text-align:center;
        height:50px;
    }
    .footer .footer-title .en-title{
        position:relative;
        top: 0px;
        left: 0px;
        font-size: 24px;
        transform: rotate(0);
        /* 基于某点旋转 */
        transform-origin:0 100%;
        margin-bottom:20px;
        margin:0 auto;
    }
    .footer .footer-title .cn-title{
        display:block;
        position:relative;
        top: 0px;
        left: 0px;
        width: 100px;
        font-size: 16px;
        margin:0 auto;
        margin-bottom:10px;
    }
    .footer .footer-des{
        padding: 0;
        height:300px;
        background:url(../imgs/footer.jpg) no-repeat;
        background-size: cover;
    }
    .footer .footer-des p{
        margin:20px auto;
        text-align:center;
    }
    .footer .footer-ul .footer-form{
        height:400px;
        margin:0 60px;
    }
    .footer .footer-form .footer-table{
        padding:0;
        width:200px;
    }
    .footer .footer-form .footer-table li{
        width:100%;
        height:51px;
    }
    .footer .footer-form .footer-table .text-box{
        width:195px;
    }
    .footer .footer-form .footer-table a{
        margin:40px auto;
    }
}