<!DOCTYPE html>
<html>

	<head>
		<title>登录、注册、忘记密码</title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" />
		<link rel="stylesheet" href="css/public/pub.css" />
		<link rel="stylesheet" href="css/login.css" />
		<script type="text/javascript" src="js/public/vue.min.js"></script>
		<script type="text/javascript" src="js/public/jquery.min.js"></script>
		<script type="text/javascript" src="js/public/pub.js"></script>
		<script type="text/javascript" src="components/loginModule.js"></script>
	</head>

	<body>
		<div class="page" id="page">
			<login-header></login-header>
			<!--headerModule-->
			<div id="mainModule">
				<div class="wrap">
					<back-index @url='url($event)'></back-index>
					<!--backIndex-->
					<div class="br-f">
						<div id="mainForm" class="clear">
							<div class="formTitle">良友亿家医药招募</div>
							<div class="formCtnWrapA" v-if='!wrapState'>
								<div class="formNav clear">
									<div class="navBtn fl point" :class="{ cur: !navIndex }" @click='switchTab(0)'>登录</div>
									<div class="navBtn fr point" :class="{ cur: navIndex }" @click='switchTab(1)'>注册</div>
								</div>
								<div class="formCtn">
									<div class="fc-0" v-show='!navIndex'>
										<label class="formLabel">
										<input type="text" placeholder="请输入用户名/邮箱" v-model.trim.lazy="loginForm.userName" maxlength="18" />
									</label>
										<label class="formLabel">
										<input type="password" placeholder="请输入密码" v-model.trim.lazy="loginForm.userPass" maxlength="16" />
									</label>
										<p class="formUrl point cr-m1" @click="switchState">忘记密码？</p>
										<div class="formSubmit point" @click="loginSubmit">登 录</div>
									</div>
									<div class="fc-1 " v-show='navIndex'>
										<label class="formLabel">
										<input type="text" placeholder="用户名" v-model.trim.lazy="registerForm.userName" maxlength="18"/>
									</label>
										<label class="formLabel">
										<input type="text" placeholder="邮箱" v-model.trim.lazy="registerForm.userEmail" maxlength="18"/>
									</label>
										<label class="formLabel">
										<input type="password" placeholder="密码" v-model.trim.lazy="registerForm.userPass" maxlength="16"/>
									</label>
										<label class="formLabel">
										<input type="password" placeholder="确认密码" v-model.trim.lazy="registerForm.userPassAga" maxlength="16"/>
									</label>
										<div class="formSubmit point" @click="registerSubmit">注 册</div>
									</div>
								</div>
							</div>
							<div class="formCtnWrapB" v-if='wrapState'>
								<div class="formNav  clear">
									<div class="navBtn navMax fl point cur" >重置密码</div>
								</div>
								<div class="formCtn">
									<label class="formLabel">
										<input type="text" placeholder="情输入注册邮箱" v-model.trim.lazy="forgetForm.userEmail" maxlength="18" />
									</label>
									<label class="formLabel inset">
										<input type="text" placeholder="请输入邮箱验证码" v-model.trim="forgetForm.emailYzm" maxlength="6" />
										<button class="sendYzmBtn fr" @click="sendYzmFun">{{ yzmContent }}</button>
									</label>
									<label class="formLabel">
										<input type="password" placeholder="请输入新密码" v-model.trim.lazy="forgetForm.newPass" maxlength="16"/>
									</label>
									<label class="formLabel">
										<input type="password" placeholder="请再次输入新密码" v-model.trim.lazy="forgetForm.newPassAga" maxlength="16"/>
									</label>
									<div class="formSubmit point" @click="forgetSubmit">确   认</div>
								</div>
							</div>
							
						</div>
					</div>
					<!--mainCtn-->
				</div>
			</div>
			<!--mainModule-->
			<login-bottom></login-bottom>
			<!--bottomModule-->
		</div>
		<!--page-->
	</body>
	
	<script type="text/javascript" src="js/loginMain.js"></script>
	<script type="text/javascript" src="layui.layer/layer.js" ></script>
</html>